<!--<p>dashbard works!</p>-->
<div class="card-deck" id="dashcard">
  <div class="card" id="dashcard_1">
    <img src="../../assets/images/icons8-customer-100.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Customers 255+</h5>
       </div>
  </div>
  <div class="card"id="dashcard_2">
    <img src="../../assets/images/item.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Items 98983+</h5>
       </div>
  </div>
  <div class="card"id="dashcard_3">
    <img src="../../assets/images/orders.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Orders 54881+</h5>
      </div>
  </div>
  <div class="card"id="dashcard_4">
    <img src="../../assets/images/reports.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Reports 28675+</h5>
    </div>
  </div>
  <div class="card"id="dashcard_5">
    <img src="../../assets/images/icons8-employee-100.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Employee 75+</h5>
    </div>
  </div>
</div>
<div id="dashgifdiv">
  <h5>Manage Employee</h5>
  <img src="../../assets/images/giphy.gif" alt="" id="dashgif_1">
</div>
